.flex {
    display: flex;
}

.box {
    height: 50px;
    width: 50px;
    border: 1px solid red;
    background-color: rgb(255, 0, 0, .5);
}

.box:first-child {
    margin-right: auto;
}

.box:last-child {
    margin-left: auto;
}
